{% extends "base.html" %}


{% block head %}
<title> Rama & Hannah's book project!! </title>
{% endblock%}


{% block body %}
<h1>Welcome, {{ username }}</h1>

<form action="/api/create_new" method=POST>
  <label for="bookname">Book Name:</label><br>
  <input type="text" id="bookname" name="bookname" value="" required><br>

  <!-- <label for="duedate">Due Date:</label><br>
  <input type="date" id="duedate" name="duedate" value=""><br><br> -->

  <label for="owner">Owner:</label><br>
  <input type="text" id="owner" name="owner" value="" required><br><br>


  <label for="borrower">Borrower:</label><br>
  <input type="text" id="borrower" name="borrower" value="" required><br><br>

  <input type="submit" value="Submit">
</form> 


<div style="display: flex;">
    <div class=table-container>
        <table>
        <caption><h2>I'm lending</h2></caption>
          <tr>
            <th>Book Name</th>
            <th>Owner</th>
            <th>Borrower</th>
          </tr>
          {% for entry in entries_lending %}
                 <tr>
                   <td>{{ entry.book_name }}</td>
                   <td>{{ entry.owner }}</td>
                   <td>{{ entry.borrower }}</td>
                 </tr>
                 {% endfor %}
        </table>
    </div>
    <div class=table-container>       
        <table>
        <caption><h2>I'm borrowing</h2></caption>
          <tr>
            <th>Book Name</th>
            <th>Owner</th>
            <th>Borrower</th>
          </tr>
          {% for entry in entries_borrowing %}
                 <tr>
                   <td>{{ entry.book_name }}</td>
                   <td>{{ entry.owner }}</td>
                   <td>{{ entry.borrower }}</td>
                 </tr>
                 {% endfor %}
        </table>
    </div>
</div>


{% endblock%}
