{% extends "base.html" %}


{% block head %}
<title> Lognign nIn </title>
{% endblock%}


{% block body %}
<h1>Welcome Back!</h1>

<form action="/api/login" method=post>
  <label for="username">Username:</label><br>
  <input type="text" id="username" name="username" value=""><br>
  <label for="password">Password:</label><br>
  <input type="password" id="password" name="password" value=""><br><br>
  <p><a href="forgot_password">Click here if you forgot your password</a></p>
  <input type="submit" value="Submit">
</form> 

<!-- <p>If you click the "Submit" button, the form-data will be sent to a page called "/api/login".</p> -->

{% endblock%}
